@import url(https://fonts.googleapis.com/css?family=Open-Sans);

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 105%;
	background: linear-gradient(to right,#0F2027, #203A43,#2C5364) fixed;
}

h1 {
	font-size: 150%;
	text-align: center;
}
.header{
	margin-top: 0px;
	height: 50px;
	background-color: #0F2027;
}
.content {
	background: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
	width: 55%;
	height: 80%;
	margin: auto;
	margin-top: 50px;
	padding: 25px;
	box-shadow: 2px 3px 10px black;
}
table{
	margin: auto;
}


.alert{
	font-weight: bold;
	color: red;
	font-size: 80%;
}


.button {
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	margin-top: 20px;
	margin-left: 43%;
	padding: 10px 30px;
	color: white;
	background-color: #0F2027;
	cursor: pointer;
}
.footer {
	padding: 10px;
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom:0;
	color: white;
}

.form2 {
	border-radius:0.5rem;
	margin: 5px;
	height: 25px;
	width: 200px;
}

.show{
	width: 90%;
	margin: auto;
}
th {
	height: 40px;
    background-color: #203A43;
    color: white;
    font-size: 80%;
}

.row_alert{
	height: 10px;
}
td {
	height: 40px;

}

.show tr:nth-child(even) {
background-color: #f2f2f2;

}

.show_tables {
	background: rgba(255, 255, 255, 0.95);
	border-radius: 5px;
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top: 40px;
	padding: 25px;
	box-shadow: 2px 3px 10px black;
}

.button2 {
	font-size: 15px;
	text-decoration: none;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	float: right;
	margin-right: 5%;
	padding: 10px 30px;
	color: white;
	background-color: #0F2027;
	cursor: pointer;
}
.button3 {
	text-align: center;
	margin: auto;
	font-size: 15px;
	text-decoration: none;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	padding: 10px 30px;
	color: white;
	background-color: #0F2027;
	cursor: pointer;
}
.success {
	font-weight: bold;
	color: green;
	border-radius: 0.5em;
	display: block;
	width: 90%;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: auto;
	background-color: #B1FF9E;
}

.error {
	font-weight: bold;
	color: #B00000;
	font-size: 80%;
	border-radius: 0.5em;
	display: block;
	width: 90%;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin: auto;
	background-color: #FFCBCB;
}
.home {
	text-align: center;
}

.edit {
	text-align: center;
	margin: auto;
	font-size: 15px;
	text-decoration: none;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	padding: 10px 10px;
	color: white;
	background-color: green;
	cursor: pointer;
}

.delete{
	text-align: center;
	margin: auto;
	font-size: 15px;
	text-decoration: none;
	border-radius: 0.5em;
	font-weight: bold;
	border: none;
	padding: 10px 10px;
	color: white;
	background-color: #B70000;
	cursor: pointer;
}
.action {
	text-align: center;
}
