/*
Template Name: InterBizz
Description: HTML5 / CSS3 Multi Page
Version: 1.0
Author: Cloud Software Solution Ltd.
*/


/*------------------------------------------------------------------
[Table of contents]

i. HOMEPAGE
	1. slidshow-section /
		1.1. Navigation
		1.2. Call to Action/Social Icon/

	2. service-section /
		2.1.
		2.2.
		2.3.
		2.3.

	3. miscellaneous-section

-------------------------------------------------------------------*/




/*------------------------------------------------------------------
  [Color codes]



# Background   : #
# Content      : #
# Header h1    : #
# Header h2    : #
# Footer       : #

# a (standard) : #
# a (visited)  : #
# a (active)   : #
-------------------------------------------------------------------*/




/*------------------------------------------------------------------
GLOBAL SETTINGS
--------------------------------------------------------------------*/
/* table */

@import "compass/css3";

.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

/*end here */
.alignleft {
    float        : left;
    margin-right : 15px;
}

.alignright {
    float       : right;
    margin-left : 15px;
}

.aligncenter {
    float       : none;
    margin-left : 0 auto;
    display     : block
}





body {
    font-family				   : 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    font-size                  : 18px;
    line-height                : 30px;
    color                      : #222121;
    font-weight                : 300;
    background                 : #F7F7F7;
    -webkit-text-size-adjust   : 100%;
    -webkit-overflow-scrolling : touch;
    -webkit-font-smoothing     : antialiased !important;
}







/*-------------------------------------------------------------------
LINK CSS
---------------------------------------------------------------------*/

a,
a:active,
a:focus,
a:active {
    text-decoration : none !important;
    outline         : none
}

a {
    color           : #8585ad;
    text-decoration : none;
    transition      : all 0.2s ease 0s;
}

a:hover,
a:focus {
    color           : #CCCCCC;
}

img {
width: 100%;
}

ul {
    margin     : 0;
    padding    : 0;
    list-style : none
}


/*------------------------------------------------------------------
[Typography]
--------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family				   : 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    margin                     : 0 0 15px;
    color                      : #222121;
    font-weight:               : 300 !important;
}

h1 {
    font-size      : 36px;
	line-height	   : 30px;
}

h2 {
    font-size      : 30px;
	line-height	   : 30px;
}

h3 {
    font-size      : 18px;
    line-height    : 20px;

}

h4 {
    font-size     : 14px;

}

h5 {
    font-size     : 12px;

}

h6 {
    font-size     : 10px;

}





/*------------------------------------------------------------------
GLOBAL COLOR
--------------------------------------------------------------------*/
.brand-bg {
    background: #8585ad;
}

.brand-color {
    color: #8585ad;
}

.white-bg {
    background: #fff;
}

.dark-bg {
    background: #ccc;
}




/*------------------------------------------------------------------
BUTTON STYLE
--------------------------------------------------------------------*/
.btn-primary {
	border-color: #8585ad;
	text-transform: uppercase;
	border-radius: 2px;
	background: #8585ad;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #637971;
    border-color: #637971;
}

.readmore {
	display: inline-block;
}




/*------------------------------------------------------------------
MAIN CONTENT
--------------------------------------------------------------------*/

.main-wrapper {}

.header-cover-home {
    background: url('../img/volcano.jpg') no-repeat center center;
    background-size: cover;
    min-height: 650px;
}

.header-cover-contact header{
    position: relative;
    z-index: 99;
}


.section-content {
    padding: 90px 0;
}



/*section title*/
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h1{
    font-weight: 300;
}


/*page-title*/
.page-title {
    background: rgba(133,166,154,0.9);
    color: #fff;
    padding: 40px;
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 15px;
}

.page-title::before {
    content: "";
    background: #fff;
    width: 8px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 0
}



.page-title h1{
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}




.page-title p {
    font-weight: 400;
    margin-bottom: 0;
}






/* SLIDER SECTION */


.slider {
	color: #FFF;
	text-align: center;
}

.slideshow-text {
	width: 60%;
	margin: 0 auto;
	padding: 100px 0;
}
.slideshow-text h1{
    font-size: 48px;
	line-height: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
	margin-bottom: 25px;
}

.slideshow-text p {
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
}

.go-next i {
	font-size: 45px;
	line-height: 75px;
	color: #fff;
	text-align: center;
	border: 3px solid #fff;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}


/*-----------------------------------------------
NAVIGATION
-------------------------------------------------*/

.main-nav {
	margin: 40px 0 0;
	border-radius: 0;
	border: none;
	background: #fff;
}



.navbar-brand {
	height: 100px;
	padding: 20px 25px;
}


.navbar-nav {
	padding: 30px 0;
}


.navbar-nav>li>a {
	display: block;
	padding: 10px 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
    color: #36384b;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #8585ad;
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #8585ad;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #8585ad;
    background-color: transparent;
}


.support-btn {
	margin-left: 30px;
	background: #8585ad;
	position: relative;
	padding: 3px 7px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
}
.support-btn a{
	color: #fff;
}

.support-btn::before {
	content: "";
	position: absolute;
	left: -15px;
	top: 0;
	border-top: 18px solid transparent;
	border-right: 15px solid #8585ad;
	border-bottom: 18px solid transparent;
}






/*--------------------------
DROPDOWN CSS
----------------------------*/


.dropdown-menu {
	border: 0;
    border-radius: 2px;
    position: relative;
    display: block;
    float: none;
    width:100%;
    box-shadow: none;
    background: #1D2127;
}






.nav.navbar-nav li ul.dropdown-menu li a{
    padding        : 7px 20px;
    font-size      : 13px;
    color          : #fff;
    line-height    : 20px;
    text-transform : capitalize;
 }

.nav.navbar-nav li ul.dropdown-menu li a:hover,
.nav.navbar-nav li ul.dropdown-menu li a:focus{
    background  : transparent;
    color       : #8585ad
  }


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #8585ad !important;
    background-color: transparent;

}







/* Menu hover */

/* 2nd label menu */

li.dropdown > .submenu-wrapper {
    position       : absolute;
    display        : block;
    left           : 0;
    z-index        : 999;
    pointer-events : none;

    top            : 25px; /* Will change on theme specific */
}

/** IE pointer events */

li.dropdown > .submenu-wrapper.no-pointer-events{
    display        : none;
}

li.dropdown > .submenu-wrapper > .submenu-inner {
    margin-top: 25px;
    opacity            : 0;

    -webkit-transform  : translateY(-100%);
    -moz-transform     : translateY(-100%);
    -ms-transform      : translateY(-100%);
    -o-transform       : translateY(-100%);
    transform          : translateY(-100%);

    /* Will change on theme specific */

    min-width          : 200px;

    /* Will change on theme specific */

    /*
    ease-in-out,
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */

    -webkit-transition : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition    : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition     : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition      : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition         : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

li.dropdown:hover > .submenu-wrapper {
    pointer-events : auto;
}


li.dropdown:hover > .submenu-wrapper.no-pointer-events{

    display        : block;

}

li.dropdown:hover > .submenu-wrapper > .submenu-inner {
    opacity           : 1;
    -webkit-transform : translateY(0);
    -moz-transform    : translateY(0);
    -ms-transform     : translateY(0);
    -o-transform      : translateY(0);
    transform         : translateY(0);


}

li.dropdown.menu-animating > .submenu-wrapper {
    overflow : hidden;
}

/* 3rd label menu */

li.dropdown > .submenu-sub-wrapper {
    position       : absolute;
    left           : 100%;
    top            : 0;
    display        : block;
    z-index        : 1000;
    width          : 100%;
    pointer-events : none;
}

li.dropdown > .submenu-sub-wrapper > .submenu-sub-inner {

    opacity            : 0;

    -webkit-transform  : translateX(-100%);
    -moz-transform     : translateX(-100%);
    -ms-transform      : translateX(-100%);
    -o-transform       : translateX(-100%);
    transform          : translateX(-100%);

    /*
    ease-in-out,
    easeOutBack   = cubic-bezier(0.175, 0.885, 0.32, 1.275)
    easeInOutCirc = cubic-bezier(0.785, 0.135, 0.15, 0.86)
    easeInOutBack = cubic-bezier(0.68, -0.55, 0.265, 1.55)
    */

    -webkit-transition : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition    : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -ms-transition     : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition      : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition         : all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

li.dropdown:hover > .submenu-sub-wrapper {
    pointer-events : auto;
}

li.dropdown:hover > .submenu-sub-wrapper > .submenu-sub-inner {
    opacity           : 1;
    -webkit-transform : translateX(0);
    -moz-transform    : translateX(0);
    -ms-transform     : translateX(0);
    -o-transform      : translateX(0);
    transform         : translateX(0);
}

li.dropdown.menu-animating > .submenu-sub-wrapper {
    overflow : hidden;
}





/*--------------------------
OFFCANVAS BUTTON
----------------------------*/

button.navbar-toggle {
    border-radius: 0;
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 21px;
    outline: none;
    background: #8585ad;
    color: #FFFFFF;
    margin: 30px 10px 0 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}





.get-in-touch {

}

.call-us-text {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #bdd4c3;
}
.call-us-text span.number {
	color: #fff;
}
.call-us-text span.time {
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	color: #fff;
}


/*  TOP SOCIAL ICON */

.social-icon {}
.social-icon ul{}
.social-icon ul li {
	display: inline-block;
}
.social-icon ul li a {
	display: block;
	padding: 0px 5px;
	color: #fff;
	font-size: 14px;
}
.social-icon ul li a i {}




/*--------------------------------------------------
Service-section
----------------------------------------------------*/

.service-section {

}

.left-service-block {
	padding: 0 90px 0 60px;
}

.service-block {
	background: #fff;
	margin-bottom: 30px;
	padding: 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	border-radius: 2px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.service-block:hover {
	background: #8585ad;
	color: #fff;
	cursor: pointer;
}



.stroke-icon:before,
.stroke-icon:after {
	font-size: 54px;
	padding: 15px 0;
	display: inline-block;
	margin-left: 0;
}


.service-block span {
	display: block;
}



.right-intro-block {
	padding: 0 60px 0 90px;
	border-left: 1px solid #D2D2D2;
}


.right-intro-block img{
	margin-bottom: 30px;
}





/*---------------------------------------------------------
Miscellaneous-section
-----------------------------------------------------------*/

.miscellaneous-section {
    background: url('../img/misc-bg.jpg') no-repeat center center;
    background-size: cover;
}

.intro-text {
    margin: 0 -14px 2px 0;
}
.tab-wrap {
    margin: 0 0 2px -14px;
}
.intro-text,
.tab-wrap {
    padding: 60px;
	min-height: 472px;
}


.intro-text h2{
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 30px;
    font-weight: 300;
}

.tab-wrap .nav-tabs>li {
    margin-bottom: 0px;
}

.tab-wrap .nav-tabs>li.active>a,
.tab-wrap .nav-tabs>li.active>a:hover,
.tab-wrap .nav-tabs>li.active>a:focus {
    border: 0;
    position: relative;
	color: #8585ad;
}



.tab-wrap .nav-tabs>li.active>a::before {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -5px;
    background: #8585ad;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.tab-wrap .nav-tabs>li>a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 0 ;
    border-radius: 0;
    position: relative;
	color: #222121;
}

.tab-wrap .nav-tabs>li>a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    background: #e1e1e1;
    height: 15px;
    width: 1px;

}

.tab-wrap .nav-tabs>li:last-child>a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    background: #e1e1e1;
    height: 0;
    width: 0;

}


.tab-wrap .nav>li>a:hover,
.tab-wrap .nav>li>a:focus {
    background-color: transparent;
}


.tab-wrap .tab-content>.tab-pane {
    padding: 35px 0 0;
}

.tab-wrap .tab-content>.tab-pane img{
    margin-top: 20px;
}




.service-quote {
    padding: 63px 60px;
    margin: 0 -14px 0 0;
	background: url('../img/quote-bg.jpg') no-repeat center center;
	background-size: cover;
}
.service-quote-text {
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}


.count-wrap {
	margin: 0 0 2px -14px;
    padding: 47px;
    text-align: center;
    color: #fff;
}


.count-wrap h3 {
	display: block;
    color: #fff;
    font-size: 72px;
	line-height: 36px;
	margin-bottom: 25px;
}


.count-wrap p {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
	font-weight: 400;
}

.count-wrap span.first {
    display: block;
}






/*---------------------------------------------------------
Testimonial-section
-----------------------------------------------------------*/

.testimonial-section {

}



.testimonial-caruosel {
    margin: 0 100px;
    position: relative;
    text-align: center;
	font-weight: 400;
    font-style: italic;
}



.testimonial-items img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
}

.client-testimonial {
	padding: 40px 50px;
	border-right: 1px dotted #d2d2d2;
}

.client-testimonial .name,
.client-testimonial .company {
    color: #83a499;
    font-size: 16px;
	font-weight: 300;
}


.testimonial-items-navigation {}
.testimonial-items-navigation .next,
.testimonial-items-navigation .prev{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.testimonial-items-navigation .next i,
.testimonial-items-navigation .prev i{
    font-size: 45px;
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 48px;
    margin-top: 20px;
}



.testimonial-items-navigation .next{
    position: absolute;
    right: -100px;
    top: 35%;

}
.testimonial-items-navigation .prev{
    position: absolute;
    left: -100px;
    top: 35%;
}


.partner-logo-caruosel .owl-theme .owl-controls .owl-page span {
	border: 2px solid #000;
	background: #fff;
    margin: 5px 3px;
}

.partner-logo-caruosel .owl-theme .owl-controls .owl-page.active span,
.partner-logo-caruosel .owl-theme .owl-controls.clickable .owl-page:hover span {
	border: 2px solid #8585ad;
	background: #8585ad;
}




/*---------------------------------------------------------
Partner-section
-----------------------------------------------------------*/
.partner-section {

}


.partner-logo-caruosel {
    margin: 0 100px;
}

.partner-logo {
    border-right: 1px dotted #d2d2d2;
}

.partner.owl-theme .owl-controls {
    margin-top: 40px!important;
}



/*---------------------------------------------------------
Blog Section Main
-----------------------------------------------------------*/

.header-cover-blog {
    background: url('../img/blog.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

.blog-section {

}

.posts-container {
}

.blog-post-wrapper {
    background: #fff;
    padding: 60px;
    margin-bottom: 30px;
}

.blog-post-wrapper .post-thumbnail img {
    width: 100%;
    height: 350px;
}

.blog-post-wrapper .figure {
    position: relative;
}


.blog-post-wrapper .posted-date {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 21px;
    background: #8585ad;
    color: #fff;
    text-align: center;
}


.blog-post-wrapper .posted-date .day {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    display: block;
}

.blog-post-wrapper .posted-date .month {
    font-size: 18px;
    line-height: 10px;
}

.blog-post-wrapper .entry-header {
    margin-top: 25px;
}
.blog-post-wrapper .entry-header h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
}
.blog-post-wrapper .entry-header h2 a{
    color: #222121;
}
.blog-post-wrapper .entry-header h2 a:hover{
    color: #8585ad;
}


.blog-post-wrapper .entry-meta ul li{
    font-size: 14px;
    line-height: 60px;
}
.blog-post-wrapper .entry-meta ul li a{
    color: #222121;

}
.blog-post-wrapper .entry-meta ul li a:hover{
    color: #8585ad;
}
.blog-post-wrapper .entry-meta i {
    color: #8585ad;
}

.blog-post-wrapper .entry-footer .readmore {
    margin-top: 20px;
}

#blog-post-carousel img {
    max-height: 350px;
}
#blog-post-carousel a.left.carousel-control,
#blog-post-carousel a.right.carousel-control {
    background : none;
}

#blog-post-carousel a.left.carousel-control {
    left : 100px;
}

#blog-post-carousel a.right.carousel-control {
    right : 100px;
}

#blog-post-carousel:hover a.left.carousel-control {
    left : 30px;
}

#blog-post-carousel:hover a.right.carousel-control {
    right : 30px;
}

#blog-post-carousel a.carousel-control {
    top         : 45%;
    width       : 34px;
    height      : 34px;
    line-height : 32px;
    text-align  : center;
    opacity     : 0;
}

#blog-post-carousel:hover a.carousel-control {
    opacity : 1;
}

#blog-post-carousel a.carousel-control i.fa {
    background    : rgba(133,166,154,0.5)
    border-radius : 2px;
    transition    : all .5s;
}

#blog-post-carousel a.carousel-control i.fa:hover {
    background    : #FFFFFF;
    border-radius : 2px;
    color         : #8585ad;
    text-shadow   : none;
    }

a.carousel-control i {
    margin-top : -10px;
    top        : 50%;
    position   : absolute;
    background : rgba(133,166,154,0.5);
    display    : block;
    z-index    : 5;
    padding    : 5px;
    width      : 30px;
    height     : 30px;
}


.carousel-control.left,
.carousel-control.right {
    background-image : none;
}


.blog-post-wrapper iframe {
    width: 100%;
    min-height: 350px;
}

.blog-post-wrapper .audio iframe {
    min-height: 100px;
}

.blog-post-wrapper blockquote {
    margin-top: 100px;
    background: #8585ad;
    overflow: hidden;
    border-left: 0;
    padding: 20px 30px;
    margin-bottom: 0;
    border-radius: 2px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.blog-post-wrapper blockquote a{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}

.blog-post-wrapper blockquote footer{
    color: #fff;
    font-size: 14px;
}

.blog-post-wrapper blockquote:hover {
    background: #637971;
    color: #fff;
}



.blog-pagination {
    background: #fff;
    padding: 10px 60px 0;
}


.pagination>li>a,
.pagination>li>span {
    color: #8585ad;
}


.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #8585ad;
    border-color: #8585ad;
}

/*single-article*/

.single-article blockquote {
    margin-top: 30px;
    background: transparent;
    overflow: hidden;
    border-left: 5px solid #eee;
    margin-bottom: 20px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;

}
.single-article blockquote {
    font-size: 24px;
    line-height: 30px;
}

.single-article blockquote:hover {
     border-left: 5px solid #637971;
     background: #e1e1e1;
     color: #222121;
}

.single-article blockquote footer{
    color: #222121;
    font-size: 14px;
}


.single-article .check-list {
    margin-bottom: 15px;
}
.single-article .check-list li {
    padding-left: 20px;
}
.single-article .unordered-list {
    margin-bottom: 15px;
    padding-left: 40px;
    list-style: inherit;
}


.about-author {
    padding: 10px 0;
}

.about-author img {
    width: 110px;
    height: 110px;
    margin-right: 20px;
}

/*PAGER*/
.next-previous-post .pager {
    margin: 30px 0;
}

.next-previous-post .pager li>a,
.next-previous-post .pager li>span {
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #8585ad;
    border: 1px solid #8585ad;
    border-radius: 3px;
}

.next-previous-post .pager li>a:hover,
.next-previous-post .pager li>a:focus {
    background-color: #637971;
    border: 1px solid #637971;
}


/*Single Post Comment*/
.comments-area {
    margin: 50px 0;
}

.comments-title {
    margin-bottom : 30px;
    }

.author-info h3,
.comments-title h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

ul.comment-list li {
    border        : 1px solid #e1e1e1;
    margin-bottom : 30px;
    }

.comment-author {
    border-bottom : 1px solid #e1e1e1;
    position      : relative;
    }

.comment-author img {
    float        : left;
    padding      : 4px;
    border-right : 1px solid #e1e1e1;
    height       : 70px;
    width        : 70px;
    margin-right : 10px;
    }

.media-heading span.author-name {
    display : block
    }

.media-heading h4 {
    margin-left : 60px;
    padding     : 10px;
    font-size   : 14px;
    font-weight : 600;
}

.media-heading time {
    font-size : 11px;
    color     : #999;
}

.comment-author .comment-reply-link {
    font-size: 12px;
    color: #fff;
    background: #8585ad;
    padding: 3px 10px;
    display: block;
    top: 16px;
    position: absolute;
    right: 10px;
    line-height: 18px;
}

.comment-author .comment-reply-link:hover {
    color      : #fff;
    background : #637971;
}

.comment-content p {
    padding : 20px;
    margin  : 0;
    }

.comment-replay {
    margin-left : 50px;
}


.comment-reply-title {
    font-size: 20px;
    margin-bottom: 20px;
}


/* Widget CSS */


.widget {
    margin-bottom: 30px;
    background: #fff;
    padding: 60px;
}

h2.widget-title {
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    position: relative;
}

h2.widget-title::after {
    content: "";
    position: absolute;
    left: 20%;
    bottom: -5px;
    background: #8585ad;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.widget li a{
    color     : #222121;
    font-size : 16px;
    line-height: 40px;
}

.widget li a:hover{
    color : #8585ad;
}



form.search-form {
    position: relative;
}

span.screen-reader-text {
    display: none;
}

form.search-form label {
    display: block;
}

.widget_search form input[type="search"] {
    height: 40px;
    background: #F7F7F7;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 10px;
    border  : 1px solid transparent;
}

.widget_search form input[type="search"]:focus {
    border  : 1px solid #8585ad;
    outline : none;
}

.widget_search form [type="submit"] {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background: url("../img/search.png") no-repeat;
    box-shadow: none;
    text-indent: -9999px;
}

.widget_search form input[type="submit"]:focus {
    outline : none;
}

.widget_tag_cloud ul li {
    display : inline-block;
    margin: 0 2px 8px;
}

.widget_search label {
    margin-bottom: 0!important;
}

.widget_tag_cloud ul li a {
    display    : block;
    color      : #8585ad;
    border : 1px solid #8585ad;
    font-size: 12px;
    line-height: 14px;
    padding: 10px;
}

.widget_tag_cloud ul li a:hover {
    background : #8585ad;
    color: #fff;
}





/*Sidebar Tab Blog Page*/

.sidebar-tab .nav-tabs {
    margin-bottom: 30px;
}
.sidebar-tab .nav-tabs>li {
    margin-bottom: 0px;
}

.sidebar-tab .nav-tabs>li.active>a,
.sidebar-tab .nav-tabs>li.active>a:hover,
.sidebar-tab .nav-tabs>li.active>a:focus {
    border: 0;
    position: relative;
    color: #8585ad;
}



.sidebar-tab .nav-tabs>li.active>a::before {
    content: "";
    position: absolute;
    left: 45%;
    bottom: -5px;
    background: #8585ad;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.sidebar-tab .nav-tabs>li>a {
    margin-right: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    border: 0 ;
    border-radius: 0;
    position: relative;
    color: #222121;
}

.sidebar-tab .nav-tabs>li>a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 17px;
    background: #e1e1e1;
    height: 20px;
    width: 2px;
}

.sidebar-tab .nav-tabs>li:last-child>a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    background: #e1e1e1;
    height: 0;
    width: 0;

}


.sidebar-tab .nav>li>a:hover,
.sidebar-tab .nav>li>a:focus {
    background-color: transparent;
}


.sidebar-tab .tab-content li {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}
.sidebar-tab .tab-content li:last-child {
    border-bottom: 0;
}

.sidebar-tab .tab-content span,
.sidebar-tab .tab-content span.author a{
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}
.sidebar-tab .tab-content li a {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: #222121;
}
.sidebar-tab .tab-content li a:hover {
    color: #8585ad;
}

.sidebar-tab .tab-content h3 {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
}

.sidebar-tab .tab-content .entry-meta {
    font-size: 14px;
}

.sidebar-tab .tab-content img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
}

.tab-post-heading {
    overflow: hidden;
}

.sidebar-tab .tab-content i{
    color: #8585ad;
    margin-right: 2px;
}

/*---------------------------------------------------------
Blog Section Home
-----------------------------------------------------------*/

.blog-section-home {}

.blog-section-home .posts-container {
	padding: 0 60px;
}

.blog-section-home .post-content {
    padding: 30px 0;
    border-bottom: 1px dotted #C7C1C1;
}

.blog-section-home .post-meta {
    position: relative;
	font-size: 14px;
	line-height:30px;
	font-weight: 400;
    margin-bottom: 15px;
    color: #b2b2b2;
	text-transform: uppercase;
}

.blog-section-home .post-meta::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: #BEBDBD;
}

.blog-section-home .post-header h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
}

.blog-section-home .post-header h2 a{
    color: #222121;
}
.blog-section-home .post-header h2 a:hover{
    color: #8585ad;
}

.blog-section-home .posts-container .readmore {
    margin-top: 40px;
}




/*---------------------------------------------------------
Blog Section Masonry
-----------------------------------------------------------*/
.masonry-blog-section {
    padding: 90px 60px;
}

.masonry-blog-section .masonry-post-content {
    background: #fff;
}

.masonry-blog-section .content-inner {
    padding: 15px;
}


.masonry-blog-section .post-header h2{
    margin-bottom: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
}


.masonry-blog-section .post-header span{
    font-size: 12px;
}

.masonry-blog-section p{
    margin: 6px 0;
    padding-bottom: 8px;
}

.masonry-blog-section .readmore{

}

.masonry-blog-section .post-footer{
    margin-top: 15px;
    border-top: 1px solid #ccc;
    font-size: 12px;
}



/*quote-post*/
.masonry-blog-section .quote-post blockquote {
    padding: 0;
    margin: 0 0 20px;
    font-size: 17px;
    font-weight: 400;
    border-left: 0;
    font-style: italic;
}



.masonry-blog-item .masonry-post-content iframe {
    width: 100%;
}


#masonryBlog .masonry-blog-item {
    min-height: 100px;
    margin-bottom: 30px;
}



/*---------------------------------------------------------
Blog Timeline
-----------------------------------------------------------*/

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: absolute;
    border: 3px solid #e1e1e1;
    border-radius: 100%;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    background-color: #8585ad;
}



.timeline>li .posted-date .day {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    display: block;
    margin-top: 10px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}
.timeline-panel .figure {
    margin-bottom: 10px;
}

.timeline-panel .post-thumbnail img {
    height: 230px;
}

.timeline .timeline-heading h2 {
    margin-top: 0;
    color: inherit;
}
.timeline .timeline-heading h2 a{
    color: #222121;
}
.timeline .timeline-heading h2 a:hover{
    color: #8585ad;
}

.timeline .timeline-heading h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin: 0;
}

.timeline .timeline-heading .entry-meta ul li {
    font-size: 14px;
    line-height: 30px;
}
.timeline .timeline-heading .entry-meta ul li a {
    color: #222121;
}
.timeline .timeline-heading .entry-meta ul li a:hover {
    color: #8585ad;
}
.timeline .timeline-heading .entry-meta i {
    color: #8585ad;
}


.timeline .timeline-footer .readmore {
    margin-top: 15px;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}


.timeline .figure iframe {
    width: 100%;
    min-height: 230px;
}

.timeline .figure.audio iframe {
    min-height: 100px;
}


.timeline-body blockquote {
    padding: 10px;
    border-left: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 15px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 45%;
        padding: 20px;
        text-align: right;
        background: #fff;
    }

    .timeline>li .posted-date {
        left: 50%;
        width: 75px;
        height: 75px;
        margin-left: -38px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding:  20px;
        text-align: left;
        background: #fff;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 20px;
        background: #fff;
    }

    .timeline>li .posted-date {
        width: 80px;
        height: 80px;
        margin-left: -40px;
    }


    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 20px;
        background: #fff;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 20px;
        background: #fff;
    }

    .timeline>li .posted-date {
        width: 80px;
        height: 80px;
        margin-left: -40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 20px;
    }
}





/*---------------------------------------------------------
ABOUT PAGE CSS
-----------------------------------------------------------*/

.header-cover-about {
    background: url('../img/about-cover.jpg') no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
}

.mission-wrapper {
   padding: 90px 60px;
}

.mission-wrapper .section-title {
    text-align: left;
}


.css-our-mission ul li {
    position: relative;
    padding: 5px 0 0 20px;
}

.css-our-mission ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 7px;
    height: 7px;
    background: #8585ad;
    border-radius: 50%;
}
/*skill*/
.skill-bar-wrap {
    border: 1px solid #e1e1e1;
    padding: 10px 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.skill-bar-wrap span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}

.skill-bar-wrap .progress {
    height: 6px;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: none;
}

.skill-bar-wrap .progress .progress-bar {
    text-indent: -99999px;
    background-color: #8585ad;
    box-shadow: none;
    border-radius: 3px;
}


.about-us-carousel {}
.about-us-carousel .item img{
    height: 500px;
}

.about-us-carousel .carousel-caption {
    top: 20%;
    font-size: 36px;
    line-height: 54px;
    text-shadow: none;
}


#about-us-carousel a.left.carousel-control {
    left : 0;
}

#about-us-carousel a.right.carousel-control {
    right : 0;
}


#about-us-carousel a.carousel-control {
    top: 45%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #000;
    background: #fff;
    text-shadow: none;
}




.team-wrapper {
    padding: 90px 60px;
}


.team-wrapper .media {
    background: #fff;
    margin: 20px 0;
}


.team-wrapper .media-body {
    padding: 20px;
}


.team-wrapper .media-body h2{
    font-weight: 300;
}



.team-wrapper .media > .pull-left {
    margin-right: 10px;
}
.team-wrapper .media > .pull-right {
    margin-left: 10px;
}



.team-wrapper .team-avatar {
    position: relative;
    cursor: pointer;
}




/*team avatar 3d hover*/

.team-avatar .avatar-front,
.team-avatar .avatar-back{
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.team-avatar .avatar-front{
    transform: perspective(600px) rotatey(0deg);
    -webkit-transform: perspective(600px) rotatey(0deg);
}

.team-avatar .avatar-back{
    position: absolute;
    top: 0;
    left: 0;
    transform: perspective(600px) rotatey(180deg);
    -webkit-transform: perspective(600px) rotatey(180deg);
}

.team-avatar:hover .avatar-front{
    transform: perspective(600px) rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
}

.team-avatar:hover .avatar-back{
    background: #8585ad;
    transform:perspective(600px) rotatey(0);
    -webkit-transform: rotatey(0);
}



.team-wrapper  h2.media-heading small {
    font-size: 18px;
    font-weight: 300;
    color: #8585ad;
}


.team-wrapper .readmore{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -37px;
    border: 4px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    line-height: 70px;
}

.team-introtext ul {
    margin-top: 30px;
}

.team-social li {
    padding: 0;
}

.team-social li a {
    width: 30px;
    height: 30px;
    background: #8585ad;
    display: block;
    text-align: center;
    color: #fff;
}

.team-social li a:hover {
    background:#8585ad;
}

.team-social li a i{
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 30px;
}




/*---------------------------------------------------------
SERVICES PAGE CSS
-----------------------------------------------------------*/

.header-cover-services {
    background: url('../img/all-pages.jpg') no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
}


.service-wrapper {
    padding: 90px 60px;
}

/*services-box-styles*/


.service-box {
    background: #fff;
    margin: 0 -5px 20px;    ;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 50px 30px;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;

}


.service-box:hover {
  background: #8585ad;
  color: #fff;
}

.service-box:hover .btn-primary {
  background: #fff;
  color: #222121 !important;
}
.service-box:hover .icon-rounded {
  background: #8585ad;
}

.service-box .service-title {
  padding: 30px 0 22px 0;
  margin: 0;
  font-weight: 300;
}

.service-box .service-title a{
    color: #222121;
}

.service-box:hover .service-title a {
  color: #fff;
}

.service-box .btn{
    margin-top: 10px;
}

.service-box .btn .fa{
    margin-left: 5px;
}

.service-box .icon-rounded{
    width: 80px;
    height: 80px;
    border: 1px dashed #e1e1e1;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}

.service-box .icon-rounded:before{
    font-size: 50px;
    margin-left: 0;
}


/*SINGLE SERVICE PAGE*/
.dropcaps {
    display: inline-block;
    float: left;
    font-size: 45px;
    padding: 10px;
    line-height: 30px;
    font-weight: bold;
}
.article-content {}

.article-content .pull-left {
    margin-right: 20px;
}
.article-content .pull-right {
    margin-left: 20px;
}


/*---------------------------------------------------------
CONTACT PAGE CSS
-----------------------------------------------------------*/

.header-cover-contact {
    position: relative;
    height: 600px;
}
.contact-wrapper {
    padding: 90px 60px;
}
.map-canvas {
    height: 600px;
    width:100%;
    position: absolute;
    top:0;
}

.page-title address a {
    color: #fff;
}
.contact-info address a {
    color: #222121;
}

.contact-info address a:hover {
    color: #8585ad;
}

.contact-sub-section h2{
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    position: relative;
}

.contact-sub-section h2::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: -5px;
    background: #8585ad;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

/*---------------------------------------------------------
Subscription-section
-----------------------------------------------------------*/

.subscription-section {
    background: url('../img/cover-1.jpg');
    background-size: cover;
    position: relative;
}

.subscription-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(132, 164, 153, 0.4);
}

.subscription-section.section-content {
	padding: 90px 60px;
}


.subscription-text {
	font-size: 30px;
	line-height: 36px;
	color: #fff;
	text-align: right;
	padding: 40px 0;
}


.subscribe-wrap {
    position: relative;
    padding: 50px 0px 40px 35px;
}

.subscribe-wrap::before {
    content: "";
    background: #d2d2d2;
    width: 1px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.subscribe-wrap input[type=email] {
    float: left;
    margin-right: 10px;
    width: 70%;
    height: 60px;
    background: rgba(255, 255, 255, 0.67);
    border: none;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 400;
}

.subscribe-wrap input[type=submit] {
    height: 60px;
    border: none;
    border-radius: 2px;
    padding: 0 40px;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}



/*---------------------------------------------------------
Contact-section
-----------------------------------------------------------*/

.contact-section {
    background: url('../img/contact-bg.jpg') no-repeat center center;
    background-size: cover;
}
.contact-section.section-content  {
	padding: 90px 60px;
}

.contact-text {
	display: block;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	padding: 20px 0;
}


.contact-address {
    padding: 60px 0;
	font-size: 16px;
	line-height: 30px;
	color: #aaaaaa;
}

.contact-address span {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.contact-address address i{
    color: #676767;
}



/*---------------------------------------------------------
Contact Form Global Style
-----------------------------------------------------------*/
.form-control:focus {
    box-shadow: none;
    border-color: #8585ad;
    outline: 0;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}


/*---------------------------------------------------------
Footer Section
-----------------------------------------------------------*/

.footer-section {
	background: #111111;
}

.copyright-text {
	padding: 30px 0 30px 60px;
    font-size: 14px;
	line-height: 24px;
	color : #5e5e5e;
}
.footer-menu {
    text-align: center;
	padding: 30px 0;
}
.footer-menu ul li{
    display: inline-block;
}
.footer-menu ul li a{
    display: block;
    padding: 0 10px;
	font-size: 18px;
	line-height:24px;
	color: #5e5e5e;
}
.footer-menu ul li a:hover{
	color: #8585ad;
}





/*---------------------------------------------------------
bottom-video-section
-----------------------------------------------------------*/
.video-section {
    min-height: 300px;

}


.video-section .video-overlay {

    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px 0 60px;
    height: 100%;
    /* Incase of overlay problems just increase the min-height*/
}

.back-to-top i {
    font-size: 45px;
	line-height: 75px;
    color: #fff;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    margin-top: 100px;
    background: rgba(255, 255, 255, 0.30);
}




.animated-icon-btt,
.animated-icon-ltr,
.animated-icon-rtl {
    overflow: hidden;
}


.animated-icon-btt:before,
.animated-icon-ltr:before,
.animated-icon-rtl:before {
    display: block;
}


.animated-icon-btt:after,
.animated-icon-ltr:after,
.animated-icon-rtl:after {
    display: none;
}




.animated-icon-btt:hover:before {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}



.animated-icon-ltr:hover:before {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}



.animated-icon-rtl:hover:before {
    -webkit-animation: toLeftFromRight 0.3s forwards;
    -moz-animation: toLeftFromRight 0.3s forwards;
    animation: toLeftFromRight 0.3s forwards;
}







/* keyframes toRightFromLeft */


@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}








/* keyframes toLeftFromRight */


@-webkit-keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toLeftFromRight {
    49% {
        -moz-transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toLeftFromRight {
    49% {
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}






/* keyframes toTopFromBottom */



@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        -moz-transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    51% {
        opacity: 1;
    }
}
